  .background{
    background-color: rgb(224, 239, 12);
  }
  
  .formContainer {
    margin-top: 10;
    width:180%;
   
    background-color:rgb(212, 26, 26) ;
    min-width: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    
  }
  form{
    
      width: 600px;
      background-color: rgb(238, 226, 9);
      
  }
  .button {
    margin: 5px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 0.8rem;
  }
  .button:hover{
    background-color: rgb(6, 6, 6);
    transform: scale(1.02,1.02);
  }
  .buttonCancel {
    margin: 5px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 0.8rem;
  }
  .buttonCancel:hover{
    background-color: rgb(216, 78, 35);
    transform: scale(1.02,1.02);
  }
  .selectedItems button {
   
    color:black;
      background-color:red;
      width: 25px;
  }
  label {
    width: 30%;
  }
  input {
    color: rgb(12, 12, 12);
    width: 100%;
    line-height: 2;
  }
  input::placeholder {
    color: rgb(95, 95, 94);
    
  }
  .error {
    font-size: 10px;
    color: rgb(236, 4, 4);
  }
  .buttonSection {
    margin: 2px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 0.4rem;
  }
  
  option {
    line-height: 6;
  }
  .styled_select {
    width: 100px;
    height: 80px;
    overflow: hidden;
    border: 1px solid rgb(196, 233, 33);
  }

  .food{
    width: 100px;
  }