.dogCard {
    margin: 10px 10px;
      padding: 6px;
      width: 250px;
      height: 200px;
      border-radius: 12px;
      box-shadow: 6px 7px 8px -6px rgba(69,69,69,0.7);
      position: relative;
      background-color:#ece920;
      background-size: cover;
      background-position: -10px -30%;
    }
    .dogCard:hover{
      transform: scale(1.10,1.10);
      box-shadow: 6px 7px 8px 3px rgba(255, 255, 255, 0.7);
    }
  
    .dogName{
      margin-top: -3px;
      text-align: center
    }
    .titleArea {
      font-size: 12px;
      padding-top: 0px;
      margin: 0px;
      margin-bottom: 0px;
      min-height: 15px;
    }
    
    a {
      color: #1a0241;
      text-decoration: none;
    }
    
    .infoArea {
      font-size: 10px;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
    }
    
    .tempArea {
      margin:5px 1px;
      padding: 1px;
      max-width: 100%;
    }
    
    .dogTemp {
      text-align: center
    }
    
    .imageArea {
      display: flex;
      justify-content: center;
      margin: 15px 10px 0 3px;
      max-width: 100%;
      overflow: hidden;
      border-radius: 4%;
    }
    
    .dogImage {
      top: 50%;
      left: 50%;
      border-radius: 2%;
    }

    .weightArea {
      text-align: center;
      font-size: 8px
    }